
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #edfcfc; 
  font-family: 'Roboto', sans-serif;
}

.heading {
  /*background-color: #2dc2b3;*/
  background-image: linear-gradient(#edfcfc, #2dc2b3);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0px;
}


h1.header {
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 5px;
}

#maya-tikka {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

p {
  color: #444;
}

.info {
  text-align: center;
  border-style: dotted;
  border-width: 3px;
  border-color: #888;
  margin: 2% 5%;
  font-style: italic;
  padding: 10px 20px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

h2 {
  color: #222;
  padding: 10px;
  margin: 10px;
}

h4 {
  color: #444;
  padding: 10px;
}

h3 {
  color: #333;
  padding: 10px;
}

.video {
  margin-bottom: 20px;
} 

.post {
  text-align: center;
  width: 500px;
}

.blog-picture {
  margin: 20px;
  
}

.date {
  margin: 10px;
}

.post-name {
  padding: 0px 10px;
  margin: -20px 10px;
}

/*Nav Bar*/
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #444;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  background-color: #111;
}

